static/css/*.css.map
react
db.sqlite3
skyopen/__pycache__
basecom/__pycache__
basecom/migrations/__pycache__/
staticfiles/
static/js/vite.svg
basecom/migrations/
sass

node_modules/
package-lock.json
package.json
assets
vite.config.js
日記.txt
.sass-cache/
static/css/style.css.map
