@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DotGothic16");
.rmicon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: top;
  overflow: hidden;
  border-radius: 5px; }
  .rmicon img {
    width: inherit;
    height: inherit; }

.romdesign {
  padding-top: 0.0em !important; }

.rm_describe1 {
  text-align: center;
  padding: 0px !important; }

a {
  text-decoration: none; }

.articlefooter {
  display: inline-block;
  box-sizing: border-box;
  background-color: #787878;
  color: #1e1e1e;
  height: auto;
  font-size: 1.3em;
  position: relative; }
  @media screen and (max-width: 600px) {
    .articlefooter {
      width: 90vw; } }
  @media screen and (min-width: 600px) {
    .articlefooter {
      width: 100%; } }
  .articlefooter__cite {
    font-size: 0.8em;
    display: block;
    text-decoration: none;
    color: #1e1e1e; }
    @media screen and (max-width: 600px) {
      .articlefooter__cite {
        text-align: right; } }
    @media screen and (min-width: 600px) {
      .articlefooter__cite {
        position: absolute;
        right: 1em;
        bottom: 0.1em; } }
    .articlefooter__cite:visited {
      color: #1e1e1e; }
  @media screen and (max-width: 600px) {
    .articlefooter {
      padding: 1vw 0; } }
  @media screen and (min-width: 600px) {
    .articlefooter {
      padding: 1em; } }

.articleheader {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0em;
  background-color: #787878;
  padding: 1em;
  color: #1e1e1e !important; }
  @media screen and (max-width: 600px) {
    .articleheader {
      width: 90vw; } }
  @media screen and (min-width: 600px) {
    .articleheader {
      width: 100%; } }
  .articleheader__title {
    font-size: 1.4em;
    padding-left: 0.1em;
    padding-bottom: 0.5em;
    display: block; }
  .articleheader__detail {
    text-align: left !important; }
    .articleheader__detail > .rmgenre {
      background-color: #00009b;
      display: inline-block;
      padding: 2px;
      padding-left: 5px;
      padding-right: 5px;
      color: yellow;
      border-radius: 5px;
      margin: 0.5em; }
    .articleheader__detail > .rmtags {
      display: inline-block; }
      .articleheader__detail > .rmtags > span, .articleheader__detail > .rmtags > a {
        background-color: #dedede;
        display: inline-block;
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
        color: blue;
        font-size: 0.9em;
        margin-right: 1px;
        border-radius: 5px; }

.rmincontent {
  padding-top: 4em !important;
  padding-bottom: 4em !important;
  text-align: left;
  overflow-wrap: break-word !important;
  display: inline-block;
  color: #969664;
  box-sizing: border-box;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1), -2px 2px 0px rgba(0, 0, 0, 0), 2px -2px 0px rgba(0, 0, 0, 0), -2px -2px 0px rgba(0, 0, 0, 0); }
  @media screen and (max-width: 600px) {
    .rmincontent {
      font-size: 1.5em;
      padding: 1vw;
      width: 97vw; } }
  @media screen and (min-width: 600px) {
    .rmincontent {
      padding: 1em;
      font-size: 1.2em;
      line-height: 1.5em; } }

.rmcontent {
  opacity: 1 !important;
  font-weight: bold;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 5em;
  overflow: hidden !important; }
  @media screen and (max-width: 600px) {
    .rmcontent {
      width: 100%; } }
  @media screen and (min-width: 600px) {
    .rmcontent {
      width: 55vw;
      margin-left: 5vw;
      padding-left: 1em !important;
      padding-right: 1em !important; } }
  .rmcontent .romdesign {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(20, 20, 10, 0.3);
    border-radius: 10px;
    box-shadow: 3px 3px 2px 1px rgba(200, 200, 255, 0.5); }

@media screen and (min-width: 600px) {
  #rom_content_content {
    text-align: left; }

  .code {
    width: 100%;
    margin: 0em !important; }

  > img {
    height: 5em !important; } }
@media screen and (max-width: 600px) {
  #rom_content_title {
    font-size: 1.9em;
    padding-left: 0.3em;
    padding-bottom: 0.7em; } }
#rom_content_content {
  padding-top: 1em;
  display: block;
  margin: 0 auto;
  background-color: gainsboro;
  color: #323232 !important;
  min-height: 50vh; }
  @media screen and (max-width: 600px) {
    #rom_content_content {
      width: 90vw; } }
  @media screen and (min-width: 600px) {
    #rom_content_content {
      width: 100%; } }
  #rom_content_content iframe {
    display: block;
    margin: auto; }
    @media screen and (max-width: 600px) {
      #rom_content_content iframe {
        width: 95vw; } }
  #rom_content_content img {
    margin: auto;
    display: block;
    box-sizing: border-box;
    background-color: #010101;
    max-width: 90%; }
    @media screen and (min-width: 600px) {
      #rom_content_content img {
        padding: 0.1em;
        height: 10em; } }
    #rom_content_content img.medium {
      object-fit: cover;
      height: auto !important;
      width: 80%; }
    #rom_content_content img.large {
      object-fit: cover;
      height: auto !important;
      width: 100%; }
  #rom_content_content img.left {
    margin-left: 1em !important; }
  #rom_content_content img.right {
    margin-right: 1em !important; }
  #rom_content_content .code {
    position: relative;
    background-color: black;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 20px;
    font-size: 0.5em;
    overflow-x: scroll;
    white-space: nowrap;
    line-height: 1.5em;
    margin: 2em;
    box-sizing: border-box; }

div.rmmidasi1 {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 0.5em 1.5em 0.5em 1.5em; }

div.attention {
  border-radius: 4px;
  margin: 1em 0 0.1em 0;
  padding: 0.2em 1.5em 0.2em 1.5em;
  font-size: 1.1em;
  border-width: 5px 0px 5px 0px;
  border-style: double;
  border-color: grey; }

.cite {
  width: 90% !important;
  position: relative;
  overflow-wrap: break-word !important;
  border: black 1px solid;
  font-style: italic;
  background-color: gainsboro;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.1); }
  .cite::before {
    content: '“';
    position: absolute;
    font-size: 2em;
    top: 0.2em;
    left: 0.2em;
    background-color: rgba(1, 1, 1, 0);
    pointer-events: none;
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat; }
  .cite::after {
    content: '”';
    position: absolute;
    background-color: rgba(1, 1, 1, 0);
    font-size: 2em;
    right: -1em;
    bottom: -1.5em;
    width: 2em;
    height: 2em;
    background-size: cover;
    background-repeat: no-repeat; }
  @media screen and (max-width: 600px) {
    .cite {
      font-size: 1.1em;
      padding: 1vw;
      width: 90vw;
      margin: auto; } }
  @media screen and (min-width: 600px) {
    .cite {
      padding: 1em;
      font-size: 1.2em;
      line-height: 1.5em; } }

/*# sourceMappingURL=articles.css.map */
