@media screen and (min-width: 600px) {
  div#RomProf2 {
    display: flex;
    justify-content: center;
    align-items: center; } }
div#RomProf2 div#rm_profile_t {
  margin-left: 1em;
  margin-top: 50px;
  margin-bottom: 10px;
  border: 2px grey solid;
  background-image: url("https://img2.lancers.jp/userprofile/677791/1154374/6df9de8090acc9117abd6189c95e89213582e768f459abb5f4b5989f87fdd022/32905180_130_0.png?20240508082503");
  background-size: 90% 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 95vw;
  height: 95vw;
  margin-left: 2.4vw;
  margin-right: 2.4vw; }
  @media screen and (min-width: 600px) {
    div#RomProf2 div#rm_profile_t {
      display: none; } }
  @media screen and (max-width: 600px) {
    div#RomProf2 div#rm_profile_t {
      display: inline-block; } }
div#RomProf2 div#rm_profile0 {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
  box-sizing: border-box;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-family: DotGothic16;
  margin-bottom: 50px;
  margin-top: 50px; }
  @media screen and (min-width: 600px) {
    div#RomProf2 div#rm_profile0 {
      height: 55vh; } }
  @media screen and (max-width: 600px) {
    div#RomProf2 div#rm_profile0 {
      width: 90vw; } }
  div#RomProf2 div#rm_profile0 > div, div#RomProf2 div#rm_profile0 > a {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    transition: filter opacity 0.3s ease;
    border-bottom: 2px solid black;
    padding-top: 1em;
    padding-bottom: 1em; }
    div#RomProf2 div#rm_profile0 > div:hover, div#RomProf2 div#rm_profile0 > a:hover {
      opacity: 0.4; }
    @media screen and (max-width: 600px) {
      div#RomProf2 div#rm_profile0 > div, div#RomProf2 div#rm_profile0 > a {
        padding-left: 1em; } }
    div#RomProf2 div#rm_profile0 > div .StrEnphOpa, div#RomProf2 div#rm_profile0 > a .StrEnphOpa {
      font-size: 1.6em; }
div#RomProf2 div#rm_profile {
  margin-left: 1em;
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("https://img2.lancers.jp/userprofile/677791/1154374/6df9de8090acc9117abd6189c95e89213582e768f459abb5f4b5989f87fdd022/32905180_130_0.png?20240508082503");
  background-size: 60% 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 40vw;
  height: 40vw; }
  @media screen and (min-width: 600px) {
    div#RomProf2 div#rm_profile {
      display: inline-block;
      height: 55vh; } }
  @media screen and (max-width: 600px) {
    div#RomProf2 div#rm_profile {
      display: none !important; } }

@media screen and (min-width: 600px) {
  div.paper {
    background-color: white;
    align-items: flex-start;
    padding: 0 !important;
    display: flex;
    gap: 10px; } }
@media screen and (max-width: 600px) {
  div.paper {
    padding: 0 !important;
    display: flex;
    justify-content: center; } }

.introduce {
  padding: 40px 20px; }
  .introduce p, .introduce ul {
    background-color: #f0f0f0;
    box-shadow: 3px 3px 2px 1px rgba(200, 200, 255, 0.5);
    font-size: 1.1em;
    padding: 5px;
    list-style: none; }

/*# sourceMappingURL=prof.css.map */
