@import url("https://fonts.googleapis.com/css?family=DotGothic16");
@import url("https://fonts.googleapis.com/css?family=Dela Gothic One");
div#RomNavi2 {
  opacity: 1 !important; }
  div#RomNavi2 > .navi {
    position: fixed;
    top: 0px;
    pointer-events: none;
    width: 100vw;
    text-align: center;
    background-color: #f0f0f0;
    box-shadow: rgba(5, 5, 5, 0.2) 0px 10px 30px 1px;
    z-index: 1502; }
    @media screen and (max-width: 600px) {
      div#RomNavi2 > .navi {
        height: 10vh; } }
    @media screen and (min-width: 600px) {
      div#RomNavi2 > .navi {
        height: 9vh; } }
    div#RomNavi2 > .navi > .naviwrap {
      text-align: center;
      position: relative;
      width: 100vw;
      height: 100%; }
      div#RomNavi2 > .navi > .naviwrap div#batsu {
        margin: 0px !important;
        position: absolute !important;
        right: 1px;
        background-color: #f0f0f0 !important;
        bottom: 5px !important;
        top: auto !important;
        width: 8vh !important;
        height: 8vh !important; }
        @media screen and (min-width: 600px) {
          div#RomNavi2 > .navi > .naviwrap div#batsu .burg {
            display: none; } }
      div#RomNavi2 > .navi > .naviwrap div.rm_icon {
        pointer-events: auto;
        position: relative;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: top;
        background-size: cover;
        transition: opacity 0.5s ease; }
        @media screen and (max-width: 600px) {
          div#RomNavi2 > .navi > .naviwrap div.rm_icon {
            width: 5vh;
            height: 5vh;
            top: 3vh; } }
        @media screen and (min-width: 600px) {
          div#RomNavi2 > .navi > .naviwrap div.rm_icon {
            width: 6vh;
            height: 6vh;
            top: 1.5vh; } }
      div#RomNavi2 > .navi > .naviwrap .icon:hover {
        opacity: 0.5; }

body {
  background-color: white !important; }

footer#rm_footer2 {
  opacity: 1 !important;
  text-align: center;
  width: 100%;
  background-color: #323333;
  color: #c8c8c8;
  padding-top: 1.5em;
  padding-bottom: 5em !important;
  box-sizing: border-box;
  font-family: "Dela Gothic One", "Kiwi Maru", "DotGothic16", "serif"; }
  @media screen and (max-width: 768px) {
    footer#rm_footer2 a.copyright {
      font-size: 0.9em; } }
  @media screen and (min-width: 768px) {
    footer#rm_footer2 a.copyright {
      font-size: 1.1em; } }
  footer#rm_footer2 ul#rm_linklist {
    margin-top: 1em;
    padding-left: 0px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer#rm_footer2 ul#rm_linklist a {
      padding-top: 0em !important;
      padding-bottom: 0em !important;
      padding-left: 0.1em !important;
      padding-right: 0.1em !important;
      display: inline-block;
      text-decoration: none;
      color: #c8c8c8; }
      footer#rm_footer2 ul#rm_linklist a:visited {
        text-decoration: none;
        color: #c8c8c8; }
  footer#rm_footer2 ul#rm_iconlist {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer#rm_footer2 ul#rm_iconlist a {
      padding: 1em !important;
      margin: 0.2em !important;
      transition: opacity 0.5s ease;
      border-radius: 20px;
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      text-decoration: none;
      vertical-align: top;
      background-size: cover; }
      footer#rm_footer2 ul#rm_iconlist a:hover {
        opacity: 0.5; }
      footer#rm_footer2 ul#rm_iconlist a:visited {
        text-decoration: none;
        color: #c8c8c8; }

div#RomNavi {
  opacity: 1 !important; }

@media screen and (max-width: 1000px) {
  div.rmdmin {
    height: 9vh; } }
@media screen and (min-width: 1000px) {
  div.rmdmin {
    height: 25vh; } }

@media screen and (max-width: 1000px) {
  div.rmdmin_ad {
    height: 0.5vh; } }
@media screen and (min-width: 1000px) {
  div.rmdmin_ad {
    height: 15vh; } }

/*# sourceMappingURL=style.css.map */
