.rmdsn {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  line-height: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.5) 60%, transparent 0);
  pointer-events: none; }

div.rm_realurllist {
  opacity: 1 !important;
  font-family: 'DotGothic16';
  text-align: center;
  min-height: 80vh;
  padding: 0.4em;
  margin-bottom: 100px;
  position: relative; }
  div.rm_realurllist .wrap_urlist {
    border-top: 1.5em grey solid;
    border-bottom: 1.5em grey solid;
    display: inline-block;
    max-width: 97vw; }
    @media screen and (min-width: 600px) {
      div.rm_realurllist .wrap_urlist {
        width: 50vw; } }
  div.rm_realurllist .rm_postblock {
    transition: filter 0.3s ease;
    box-sizing: border-box;
    border: solid 1px black;
    position: relative;
    max-width: 97vw; }
    div.rm_realurllist .rm_postblock:hover {
      filter: brightness(0.8); }
    @media screen and (min-width: 600px) {
      div.rm_realurllist .rm_postblock {
        height: 300px; } }
    @media screen and (max-width: 600px) {
      div.rm_realurllist .rm_postblock {
        height: 20vh; } }
  div.rm_realurllist .content_mini {
    text-align: left;
    box-sizing: border-box;
    line-height: 1em;
    min-height: 6em; }
    @media screen and (max-width: 600px) {
      div.rm_realurllist .content_mini {
        padding-left: 0.5em;
        padding-top: 0.1em;
        padding-right: 0.1em;
        font-size: 0.3em; } }
    @media screen and (min-width: 600px) {
      div.rm_realurllist .content_mini {
        padding-left: 2em;
        padding-top: 1em;
        padding-right: 1em;
        font-size: 0.7em; } }
  div.rm_realurllist a {
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex; }
  div.rm_realurllist img {
    height: 100% !important;
    aspect-ratio: 1 / 1;
    display: inline-block !important;
    background-color: rgba(0, 0, 0, 0);
    vertical-align: top; }
    @media screen and (max-width: 1000px) {
      div.rm_realurllist img {
        margin-right: 0.1em; } }
    @media screen and (min-width: 1000px) {
      div.rm_realurllist img {
        margin-right: 1em; } }
  div.rm_realurllist .text-wrap {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    display: inline-block; }
    @media screen and (min-width: 600px) {
      div.rm_realurllist .text-wrap {
        padding: 0.1em; } }
    @media screen and (max-width: 600px) {
      div.rm_realurllist .text-wrap {
        padding: 0.0em; } }
    div.rm_realurllist .text-wrap .title {
      box-sizing: border-box;
      text-align: left;
      display: inline-block; }
      @media screen and (min-width: 600px) {
        div.rm_realurllist .text-wrap .title {
          font-size: 1em;
          padding-top: 0.6em;
          padding-left: 0.6em; } }
      @media screen and (max-width: 600px) {
        div.rm_realurllist .text-wrap .title {
          font-size: 0.6em;
          padding-top: 0.1em;
          padding-left: 0.1em; } }
    div.rm_realurllist .text-wrap .desc {
      position: absolute;
      bottom: 0px;
      right: 0px;
      text-align: right;
      box-sizing: border-box;
      z-index: 2; }
      @media screen and (min-width: 600px) {
        div.rm_realurllist .text-wrap .desc {
          font-size: 0.5em;
          padding-right: 2em; } }
      @media screen and (max-width: 600px) {
        div.rm_realurllist .text-wrap .desc {
          font-size: 0.05em;
          padding-right: 0.1em; } }
  div.rm_realurllist div.rm_postblock {
    background-color: rgba(235, 230, 230, 0.7);
    display: inline-block;
    text-align: center;
    padding: 0.0em;
    margin: 0.0em; }
    @media screen and (min-width: 0px) {
      div.rm_realurllist div.rm_postblock {
        width: 100vw;
        font-size: 2em; } }
    @media screen and (min-width: 600px) {
      div.rm_realurllist div.rm_postblock {
        width: inherit;
        font-size: 1.5em; } }
  div.rm_realurllist a {
    color: black;
    text-decoration: none; }
    div.rm_realurllist a:visited {
      color: black; }

/*# sourceMappingURL=urllist.css.map */
