{% load static %}

{% if host == "127.0.0.1:8000" or "192.168.1." in host %}
{% else %}
<div 
style="background-color:#555;background-image:url('/static/bk.svg'),url('/static/bk.svg');background-size:70px 70px,30px 30px;background-position:0 0, 35px 35px"
class="basefix" id="loading" >
<div id="opening"></div>
 </div>
<style>#loading,#opening{
width:100vw;height:100vh;position:fixed;top:0;left:0;
z-index:99999999 !important;}</style>
<script>
var loading=document.getElementById("loading")

const checkElement = setInterval(() => {
    var vdbanner = document.getElementById("vdbanner");
    if (vdbanner) {
        clearInterval(checkElement); 
        loading.style.transition = "opacity 0.9s";
        loading.style.opacity = "0";
        setTimeout(() => {
            loading.remove();
        }, 500);
    }
}, 500);
</script>
{% endif %}

     <script type="text/javascript" crossorigin defer src="{% static 'js/opening.js' %}?p={{fileparam_js}}"  ></script> 
