{% load static %}

{% if host == "127.0.0.1:8000" %}
{% else %}
<div 
style="background-color:#555;width:100vw;height:100vh;position:fixed;top:0;left:0;"
class="basefix" id="loading" >
 </div>
<style>#loading{z-index:99999999 !important;}</style>
<script>
var loading=document.getElementById("loading")

const checkElement = setInterval(() => {
    var vdbanner = document.getElementById("vdbanner");
    if (vdbanner) {
        clearInterval(checkElement); 
        loading.style.transition = "opacity 0.5s";
        loading.style.opacity = "0";
        setTimeout(() => {
            loading.remove();
        }, 500);
    }
}, 500);
</script>
{% endif %}
