<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
    <title id="navTitle" data-title="タイトル">rommet</title>
<meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Dela Gothic One' rel='stylesheet' type='text/css'>
<link rel="icon" href="{% static 'favicon.png' %}">
    </head>
<body >
<style>
body{
 font-size:"0.1em";
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
</style>

<div 
 style="opacity:0;"
 data-movieurl="/static/pic/opening.mp4" 
 data-baseurl=""  data-picurl="/static/pic" id="RomNavi" style="">
<a href="index.html" data-linkurl="index.html" data-titlename="案内">案内</a>
<a href="loglist.html" data-linkurl="loglist.html"  data-titlename="活動紹介">活動紹介</a>
<a href="profile.html" data-linkurl="profile.html"  data-titlename="プロフィール">プロフィール</a>
<a href="contact.html" data-linkurl="contact.html"  data-titlename="Contact">Contact</a>
</div>

{% if host != "www.skyopener2.shop" %}
<div class="rmdmin"></div>
{% else %}
<div class="rmdmin_ad"></div>
{% endif %}

{% block content %}
{% endblock %}
<footer style="opacity:0;" id="rm_footer2" data-sitestring="rom">
     Copyright © rom 2024-2024 All Rights Reserved.


     <ul id="rm_linklist">
      <a data-href="/contact.html"
         data-title="Contact"
         href="/contact.html"><li>Contact</li></a>
     </ul>
     <ul id="rm_iconlist">
      <a 
         style="background-image: url('/static/pic/twitter_ico.png');"
         href="https://twitter.com/share?url=https://{{host}}&text=デモサイト稼働中!"></a>

      <a 
         style="background-image: url('/static/pic/line_ico.png');"
         href="https://twitter.com/share?url=https://{{host}}&text=デモサイト稼働中!"></a>
     </ul>
     </footer>





</body>

     <script type="text/javascript" crossorigin  src="{% static 'js/umd_main.js' %}?p={{fileparam_js}}"  ></script> 
     <link rel="stylesheet" href="{% static 'css/style.css' %}?p={{fileparam2}}">

</html>
