<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
    <title id="navTitle" data-title="タイトル">skyopener</title>
<meta http-equiv=”Content-Type” content=”text/html; charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1">


<link href='https://fonts.googleapis.com/css?family=Dela Gothic One' rel='stylesheet' type='text/css'>


    </head>
<body >
<style>
body{
 overflow-x:hidden;
 margin:0;padding:0;font-size:"0.1em";
}
</style>

<div data-baseurl=""  data-picurl="/static/pic" id="RomNavi">
<a href="index.html" data-linkurl="index.html" data-titlename="案内">案内</a>
<a href="loglist.html" data-linkurl="loglist.html"  data-titlename="活動紹介">活動紹介</a>
<a href="profile.html" data-linkurl="profile.html"  data-titlename="プロフィール">プロフィール</a>
<a href="index.html" data-linkurl="index.html"  data-titlename="スペシャルサンクス">スペシャルサンクス</a>
</div>

{% block content %}
{% endblock %}
     <footer id="rm_footer" data-sitestring="rom">
     Copyright © rom 2024-2024 All Rights Reserved.
<style>
body{opacity:0}
</style>


     <ul>
      <a data-href="/"
         data-title="コンタクト"
         href="/"><li>.</li></a>
      <a data-href="/"
         data-title=""
       href="/"><li ></li></a>
     </ul>
     </footer>





</body>

     <script type="text/javascript" crossorigin  src="{% static 'js/umd_main.js' %}?p={{fileparam}}"  ></script> 
     <link rel="stylesheet" href="{% static 'css/style.css' %}?p={{fileparam2}}">

</html>
