{% extends "basecom/base.html" %}
{% block content %}
{% load static %}

<style>
</style>
<div 
 style="opacity:0;text-align:center;margin:0px auto;"
 id="rm_contactform2">
<form  method="post" style="text-align:left;">
    {% csrf_token %}
    <div 
      style="box-sizing:border-box;padding:0px 20px;display:inline-block;font-size:0.8em;color:#c55;width:100%;">
     フォームを入力すると、弊社にメールが行きます。<br/>(日本語でお願いします)</div>

    <label class="StrEnphOpa" for="name">名前: </label>
    <input data-display="名前" class="rm_inputpost"  type="text" name="name" id="name"  />

    <label  class="StrEnphOpa" for="mail">メール: </label>
    <input data-display="メール" class="rm_inputpost"  type="text" name="mail" id="mail"  />

    <label  class="StrEnphOpa" for="contact">お問い合わせ: </label>
    <textarea  data-display="本文" class="rm_inputpost"  name="contact" id="contact"  ></textarea>

    <input  type="submit" id="sbm" value="お問い合わせ" />
</form>
</div>
<link rel="stylesheet" href="{% static 'css/contact.css' %}?p={{fileparam}}">
{% endblock %}
