{% extends "basecom/base.html" %}
{% load static %}
{% block content %}

<div data-baseurl="" data-picurl="/static/pic" id="RomMain" style="text-align:center;min-height:80vh;opacity:0;">
 <a href="https://wordpress.com/ja/"
  data-href="https://wordpress.com/ja/"
  data-title="Wordpress"
  data-picname="wordpress-icon.png">気楽に扱えるWordPressを用いたシステムを開発いたします</a>
 <a href="https://docs.djangoproject.com/ja" data-href="https://docs.djangoproject.com/ja" data-title="django開発" data-picname="logo-django.svg">サーバーサイドの開発に、セキュリティを意識した「django」を採用可能です</a>
 <a href="https://ja.legacy.reactjs.org/" data-href="https://ja.legacy.reactjs.org/" data-title="React開発" data-picname="react-icon.png">Reactにてウェブデザインを担当いたします</a>


</div>

<div id="romMidashi" style="display:none;"><div><span class="StrEnphOpa" >Update Log</span></div></div>

<div id="rom_urllist2" style="display:none;"  data-baseurl="" 
 data-linksurl="/loglist.html"
 data-picurl="/static/pic">
 <a class="next" href="/loglist.html"><span  class="StrEnphOpa" >read more...</span></a>


 <img src="/static/pic/juwel.jpg">
<div class="wrapper">
 {% for p in posted %}
 <a data-urlname="/post/{{p.url_name}}.html" data-titlename="{{ p.post_title }}" data-created_at="{{p.created_at | date:"Y/m/d"}}" href="/post/{{p.url_name}}.html">
  <div class="date">{{p.created_at | date:"Y/m/d"}} </div><span class="StrEnphOpa" >{{ p.post_title }}</span>
</a>
<br>
{% endfor %}
</div>

</div>

<br>
<br>
<br>
<br>
<br>


<style>
#rom_page{
 width:100%;
 height:1000px;
 background-color:rgba(100,100,100,1);
 display:inline-block;
}
</style>
<link rel="stylesheet" href="{% static 'css/home.css' %}?p={{fileparam2}}">


{% endblock %}
