{% extends "basecom/base.html" %}

{% block content %}

<div id="rom_content" data-title="{{content.post_title}}" data-title="{{content.created_at}}">
<div id="rom_content_title"> {{content.post_title}}</div>
<style>
div#rom_content:has(div#rom_content_content){
 text-align:center;
 padding-bottom:100px;
 padding-top:100px;

}

#rom_content_title{
 display:block;
 color: rgba(150,150,100,1);

}
#rom_content_content{
 display:inline-block

}
.code{
 background-color:black;
 padding:1em;
 font-size:0.5em;
 overflow-x:scroll;
 white-space:nowrap;
 line-height: 1.5em;
 margin:2em;
 box-sizing:border-box;

}
 @media screen and (min-width:0px) {
#rom_content_title{
 font-size:1.7em;
}
  #rom_content_content {
 width:100%;
 color: rgba(150,150,100,1);
 font-size:1.5em;
  }
 .code{
  width:100%;
  margin:0em !important;
 }
}@media screen and (min-width:600px) {
#rom_content_title{
 font-size:1.7em;
}
  #rom_content_content {
    color: rgba(150,150,100,1);
    font-size:1.8em;
    line-height: 1.1em;
  }


}

 #rom_content_content img{
  margin-left:auto;
  margin-right:auto;
  display:block;
 }
 #rom_content_content img.left{
  margin-left:0px !important;
 }
 #rom_content_content img.right{
  margin-right:0px !important;
 }


</style>
<div id="rom_content_content">
{{content_post_content|safe}}
</div>
</div>





{% endblock %}
