{% extends "basecom/base.html" %}

{% block content %}
{% load static %}
<div data-baseurl="" 
 style="overflow:hidden"
 data-picurl="/static/pic" id="RomProf2">

<div id="rm_profile_t" style="background-color:rgba(240,240,240,1);"></div>



<div class="paper" style="align-items: flex-start;padding:0 !important;display:flex;gap:10px;">
<div id="rm_profile0" style="vertical-align:top;align-items: center;justify-content: center; ">
 <div>
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >代表：Rom</span>
 </div>
 <div>
  <span  data-basedelay="400" class="StrEnphOpa rmlinktitle" >屋号 : Rommet</span>
 </div>
 <div>
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >従業員 : 1人</span>
 </div>
 <div>
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >創業 : 2024年</span>
 </div>
 <div>
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >活動地域 :関西近傍</span>
 </div>
 <a href="https://www.lancers.jp/profile/yoshihon?ref=header_menu">
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >連絡先 : ランサーズ</span>
 </a>
</div>
<div id="rm_profile" style="align-items: center;justify-content: center "></div>
</div>





</div>

<link rel="stylesheet" href="{% static 'css/prof.css' %}?p={{fileparam}}">


{% endblock %}

