{% extends "basecom/base.html" %}

{% block content %}
{% load static %}
<div data-baseurl="" 
 style="overflow:hidden"
 data-picurl="/static/pic" id="RomProf2">

<div id="rm_profile_t"  class="area"  style="background-image:url('{% static 'graphic/title_log.png' %}') !important;background-color:rgba(240,240,240,1);"></div>



<div class="paper" style="">
<div id="rm_profile0"  class="area" style="vertical-align:top;align-items: center;justify-content: center; ">
 <div>
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >代表：Rom</span>
 </div>
 <div>
  <span  data-basedelay="400" class="StrEnphOpa rmlinktitle" >屋号 : Rommet</span>
 </div>
 <div>
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >従業員 : 1人</span>
 </div>
 <div>
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >創業 : 2024年</span>
 </div>
 <div>
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >活動地域 :関西</span>
 </div>
 <a href="https://www.lancers.jp/profile/yoshihon?ref=header_menu">
  <span data-basedelay="400" class="StrEnphOpa rmlinktitle" >連絡先 : ランサーズ</span>
 </a>
</div>
<div id="rm_profile" style="background-size:60% 60%;background-image:url('{% static 'graphic/title_log.png' %}') !important;align-items: center;justify-content: center "></div>
</div>
</div>

<br>
<style>
.area{
  border-radius:5px !important;
  background-color:white !important;
  background-image:url("{% static 'graphic/dots.svg' %}");
padding:30px 0px;
}
</style>
<div id="keireki" style="">
 <div class="area" style="font-family: DotGothic16;width:82vw;background-color:white;align-items:flex-start;display:flex;">
  <div class="introduce">
    <h1>rom</h1>
    <p><strong>職種:</strong> フルスタックエンジニア</p>

<h2  class="StrEnphOpa" >Introduce</h2>
<p>大学卒業後、フリーランスとして実務経験を積んだフルスタックエンジニア。
フロントエンドからバックエンドまで一貫して開発でき、特にDjangoとJavaScriptを用いた
ウェブアプリ開発が得意。ReactやNode.jsを用いたプロジェクトに多数受け持ち、
最新技術を取り入れながらサービス開発に取り組んでいる。</p>

    <h2 class="StrEnphOpa" >Skill Set</h2>
    <ul>
        <li><strong>プログラミング言語:</strong> JavaScript(React, Node.js), TypeScript, Python, PHP</li>
        <li><strong>フレームワーク・CMS:</strong> React, Django, WordPress</li>
        <li><strong>データベース:</strong> MySQL, SQLite</li>
        <li><strong>ツール:</strong> Git, Vite, Sass</li>
        <li><strong>開発手法:</strong> アジャイル開発</li>
    </ul>

<h2 class="StrEnphOpa" >History</h2>

<h4>ブログ & ポートフォリオサイト</h4>
<ul>
    <li>Djangoを用いたポートフォリオサイト。ブログ・コメント機能も搭載</li>
</ul>
<h4>Flluterを用いた音楽ファイル再生アプリ</h4>
<ul>
    <li>広告なし、リピート機能付き、バックグラウンド再生も可能</li>
</ul>

<h4>ショッピングサイト在庫管理ツール</h4>
<ul>
    <li>Djangoで制作したショッピングサイトの在庫管理ツールです。</li>
    <li>Pythonを用いて制作したクライアントソフトを用いて、在庫数を更新する仕様になっております。</li>
</ul>


    <h2 class="StrEnphOpa" >Education</h2>
    <p><strong>情報学部</strong> 4年制大学 卒業</p>
    </div>
 </div></div>
<style>
#keireki{
display:flex;justify-content:center;align-items:center;
 min-height:10vh;

}
@media screen and (max-width: 600px) {
 #keireki>div {
        width: 90vw !important;
    }
}
</style>

<link rel="stylesheet" href="{% static 'css/prof.css' %}?p={{fileparam}}">


{% endblock %}

