{% extends "basecom/base.html" %}
{% block content %}
{% load static %}


<div class="rm_realurllist" style="opacity:0">

 <div class="wrap_urlist">
 {% for p in posted %}
 <div class="rm_postblock">
  <div class="rmdsn"></div>
 <a data-urlname="/post/{{p.url_name}}.html" data-titlename="{{ p.post_title }}" data-created_at="{{p.created_at | date:"Y/m/d"}}" href="/post/{{p.url_name}}.html">
<img  style="display:none;"src="{{p.post_pic|default:"/static/pic/nophoto.jpg"}}"/>
<div class="text-wrap">
<div class="title">
 <span class="StrEnphOpa">{{ p.post_title }}</span>
</div>
<div class="content_mini">
 {{ p.get_description_summary }}
</div>
<div class="desc">
{{p.created_at | date:"Y/m/d"}}
</div>
</div>

</a>
</div>
{% endfor %}
</div>

</div>
<link rel="stylesheet" href="{% static 'css/urllist.css' %}?p={{fileparam2}}">
{% endblock %}
