{% extends "basecom/base.html" %}
{% block content %}


<div class="rm_realurllist">
 {% for p in posted %}
 <div class="rm_postblock">
 <a data-urlname="/post/{{p.url_name}}.html" data-titlename="{{ p.post_title }}" data-created_at="{{p.created_at | date:"Y/m/d"}}" href="/post/{{p.url_name}}.html">
<div class="title">
 <img  style="display:none;"src="{{p.post_pic|default:"/static/pic/nophoto.jpg"}}"/>
 <span class="StrEnphOpa">{{ p.post_title }}</span>
</div>
<div class="content_mini">
 {{ p.get_description_summary }}
</div>
<div class="desc">
{{p.created_at | date:"Y/m/d"}}
</div>

</a>
</div>
{% endfor %}

</div>
{% endblock %}
